<!-- add_transaction.html -->
{% extends 'base.html' %}
{% block content %}
  <h1>Add Transaction</h1>
  <form method="post">
    {% csrf_token %}
    <label for="date">Date:</label>
    <input type="date" name="date" required>
    <br>
    <label for="customer">Customer:</label>
    <select name="customer" id="customer">
      <option value="" disabled selected>Select Customer</option>
      {% for customer in customers %}
        <option value="{{ customer.id }}">{{ customer.name }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="staff_responsible">Staff Responsible:</label>
    <select name="staff_responsible" id="staff_responsible">
      <option value="" disabled selected>Select Staff</option>
      {% for staff_member in staff %}
        <option value="{{ staff_member.id }}">{{ staff_member.username }}</option>
      {% endfor %}
    </select>
    <br>
    <fieldset>
      <legend>Scrap Items:</legend>
      {% for daily_scrap_entry in daily_scrap_entries %}
        <h3>Date: {{ daily_scrap_entry.date }}</h3>
        {% for scrap_item in daily_scrap_entry.scraps.all %}
          <div>
            <input type="checkbox" name="scrap_item" value="{{ scrap_item.id }}">
            {{ scrap_item.RFID }} - {{ scrap_item.scrap_type.name }} ({{ scrap_item.weight }} kg)
            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" min="1">
          </div>
        {% endfor %}
      {% endfor %}
    </fieldset>
    <br>
    <button type="submit">Add Transaction</button>
  </form>
  <a href="{% url 'transaction_list' %}">Back to Transaction List</a>
{% endblock content %}
