{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Create Transaction</h1>

<form method="post">
  {% csrf_token %}
  <label for="date">Date:</label>
  <input type="date" name="date" id="date" required>
  <br>

  <label for="contact_number">Contact Number:</label>
  <input type="text" name="contact_number" id="contact_number" required>
  <br>

  <label for="customer_name">Customer Name:</label>
  <input type="text" name="customer_name" id="customer_name">
  <br>

  <label for="address">Address:</label>
  <textarea name="address" id="address"></textarea>
  <br>

  <label for="scraps">Select Scrap Items:</label>
  <select name="scraps" multiple>
    {% for scrap_item in scraps %}
      <option value="{{ scrap_item.id }}">{{ scrap_item.RFID }}</option>
    {% endfor %}
  </select>
  <br>

  {% for scrap_item in scraps %}
    <label for="quantity_{{ scrap_item.id }}">Quantity for {{ scrap_item.RFID }}:</label>
    <input type="number" name="quantity_{{ scrap_item.id }}" id="quantity_{{ scrap_item.id }}" value="1" min="1">
    <br>
  {% endfor %}

  <button type="submit">Create Transaction</button>
    <a href="{% url 'add_daily_scrap_entry' %}" class="add_entry">Add Entry</a>

</form>

{% endblock content %}