{% load static %}
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
          <span class="logo">
            <img src="{% static 'img/logotps.png' %}" width="50" {% if request.resolver_match.url_name == 'landing' %}class=""{% else %}class="logo-img"{% endif %}>
          <span>Daquila Junkshop</span>
        </span>
      <ul>
        <li><a {% if request.resolver_match.url_name == 'landing' %}class="active"{% endif %} href="{% url 'landing' %}">Home</a></li>

        {% if user.is_authenticated %}
        <li><a {% if request.resolver_match.url_name == 'daily_scrap_table' %}class="active"{% endif %} href="{% url 'daily_scrap_table' %}">Daily Scraps Entry</a></li>
        <li><a {% if request.resolver_match.url_name == 'transaction_list' %}class="active"{% endif %} href="{% url 'transaction_list' %}">Transaction</a></li>
        {% endif %}

        <li><a href="#">About</a></li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %} href="{% url 'login' %}">Login</a></li>
        {% endif %}

      </ul>
    </nav>

